<h2>About Us</h2>
<p>
    We are dedicated to helping our users to have an easier experience with making transcription 
    appointments and accessing the notes afterwards.
</p>
<h3>Out team:</h3>
<p>
    We are all users of transcription services or know people have been affected by difficult experiences with it.<br />
    yadda yadda yadda....
</p>