<h2>Conact Us</h2>
<p>
    Want to praise us, found an issue, or anything else really?<br/>Use the form below to get in touch!
</p>
<form>
    <input type="hidden" name="referrer">
    Name: <input type="text" id="fieldName" name="name"><br>
    Email: <input type="email" name="email"><br>
    Message: <input type="text" name="message"><br>
    <input type="submit" value="Submit" name="submit">
</form>