extends layout

block content
  h2 About Us
  p We are dedicated to helping our users to have an easier experience with making transcription appointments and accessing the notes afterwards.

  h3 Our team:
  p We are all users of transcription services or know people have been affected by difficult experiences with it. We are constantly striving to improve your experience with us!
